@font-face {
    font-family: 'one-little-font';
    src: local("one-little-font"),
        url('../../fonts/OneLittleFont/one-little-font-regular.otf') format('truetype');
}

@font-face {
    font-family: 'arimo-regular';
    src: local("arimo-regular"),
        url('../../fonts/Arimo/Arimo-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'inter';
    src: local("inter"),
        url('../../fonts/Inter/static/Inter-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'league';
    src: local("league-spartan"),
        url('../../fonts/LeagueSpartan/League_Spartan/static/LeagueSpartan-Bold.ttf') format('truetype');
}


.headerItemsWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}

.generalItemsWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headerText {
    font-family: "inter", sans-serif;
    font-size: 1.7em;
    color: #1B489A;
    margin-top: 1em;
    font-weight: 400;
}

.lowerText {
    text-align: center;
    font-family: "inter", sans-serif;
    font-size: 0.9em;
    color: #192746;
    width: 49em;
    margin-top: 2em;
    padding-bottom: 2em;
    line-height: 1.5em;
}

.hollowCircle {
    width: 7em;
    height: 7em;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.5em;
    position: absolute;
    border-color: #B8B9BB;
}

.grayHollowCircle {
    width: 7em;
    height: 7em;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.5em;
    border-color: #B8B9BB;
}


.hollowCircle2 {
    width: 8em;
    height: 8em;
    border-radius: 50%;
    border-style: solid;
    border-width: 1.2em;
    position: relative;
}

.statesWrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}



.images {
    padding: 1.2em;
    width: 4.6em;
    height: auto;
}

.line {
    height: 0.2em;
    width: 3em;
}

.lowerElementsFull {
    font-family: 'league', sans-serif;
    font-size: 1.2em;
    width: 8em;
    text-align: center;
    position: absolute;
    padding-top: 1em;
    line-height: 1em;
}

.lowerElementsEmpty {
    font-family: 'league', sans-serif;
    font-size: 1.2em;
    width: 8em;
    position: absolute;
    padding-top: 2em;
    line-height: 1em;
}

.titles {
    display: inline-block;
    height: 2em;
    text-align: center;
}