@font-face {
    font-family: 'inter';
    src: local("inter"),
        url('../../fonts/Inter/static/Inter-Regular.ttf') format('truetype');
}

.container {
    display: flex;
    flex-direction: column;
    width: 50em;
    height: 50em;
    overflow:scroll;
    scrollbar-width: thin;
    overflow-x:hidden;
    padding: 2em;
    background-color: white;
}

.fileName {
    width: 11em;
    font-size: medium;
    font-family: "inter", sans-serif;
    color: white;
    text-align: center;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 4.5em;
    padding-right: 4.5em;
    background-color: #3a5aca;
    border-radius: 0.4em;
}

.innerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 1.25em;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2em;
}

.revisionButton{
    color: white;
    font-size: medium;
    font-family: "inter", sans-serif;
    border-radius: 0.4em;
    background-color: #f5de62;
    border: none;
    width: 20em;
    height: 5em;
    cursor: pointer;
}

.revisionButtonWaiting {
    color: white;
    font-size: medium;
    font-family: "inter", sans-serif;
    border-radius: 0.4em;
    background-color: #a0a0a0;
    border: none;
    width: 20em;
    height: 5em;
}

.revisionButton:hover {
    background-color: #c4b14e;
}

.fileContainer {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.uploadSection {
    display: flex;
    flex-direction: row;
}

.uploadSection label {
    cursor: pointer;
}

.uploadSection>input {
    display: none;
}

.uploadIcon {
    width: 3.5em;
    height: 3.5em;
}

.phantom {
    width: 6em;  
}

.uploadedSection{
    display: flex;
    flex-direction: row;
}

.previewSection {
    display: flex;
    flex-direction: column;
}

.preview {
    width: 3.5em;
    height: 3.15em;
}

.previewFileName {
    display: inline-block;
    width: 10em;
    font-size: 0.4em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.deleteIcon {
    width: 3.5em;
    height: 3.17em;
    padding-left: 2em;
    cursor: pointer;
}
