@font-face {
    font-family: 'arimo-regular';
    src: local("arimo-regular"),
      url('../fonts/Arimo/Arimo-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'one-little-font';
    src: local("one-little-font"),
    url('../fonts/OneLittleFont/one-little-font-regular.otf') format('truetype');
  }

.body {
    display: flex;
    flex-direction: column;
    height: 100vh; 
}

.fourofour{
    font-family: "one-little-font", sans-serif;
}

.topBar {
    height: 50px;
    background-color: #FFD100;
}

.centralElements {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1; 
}

.text{
    margin-bottom: 40px;
    font-size: large;
    font-family: "arimo-regular", sans-serif;
}
