@import "../variables.css";

@font-face {
  font-family: "one-little-font";
  src: local("one-little-font"),
    url("../../fonts/OneLittleFont/one-little-font-regular.otf")
      format("truetype");
}

@font-face {
  font-family: "arimo-regular";
  src: local("arimo-regular"),
    url("../../fonts/Arimo/Arimo-Regular.ttf") format("truetype");
}

.upperText {
  text-align: center;
  font-family: "one-little-font", sans-serif;
  font-size: 3em;
  color: var(--blue-wallaby);
  margin-bottom: 0;
  margin-left: 7em;
}

.lowerText {
  text-align: center;
  font-family: "arimo-regular", sans-serif;
  font-size: 0.8em;
  color: #192746;
  margin-bottom: 0;
  margin-top: 0.2em;
}

.container {
  margin: 3em 10em auto;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 2em;
}

.welcome-header {
  margin-left: 2em;
}



.search-bar-header {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  align-items: start;
}

.logoImage {
  position: absolute;
  width: 9em;
  height: auto;
  margin-left: 10em;
  margin-top: 0em;
  object-fit: cover;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 1em;
  border: 0.1em solid #ccc;
  border-radius: 0.8em 0 0 0.8em;
  width: 20.5em;
}

.search-bar button {
  padding: 1em 2em;
  background-color: var(--blue-wallaby);
  color: white;
  border: 0.1em solid var(--blue-wallaby);
  border-radius: 0 0.8em 0.8em 0;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #0056b3;
}

.search-bar button:focus {
  outline: none; /* Elimina el borde de enfoque del botón */
}

.info-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 5em;
  margin-top: 5em;
}

.info-container > div {
  flex: 1;
  margin-right: 5em;
}

.info-container > div:last-child {
  margin-right: 0em; /* No se aplica margen al último div para evitar espacio extra */
}

.info-container h4 {
  background-color: var(--yellow-wallaby);
  border-radius: 1em 1em 0 0;
  width: 100%;
  padding: 1em 0 1em;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.info-container p {
  background-color: #cccccc6f;
  border-radius: 0 0 1em 1em;
  width: 100%;
  padding: 2.4em 0px 2.4em;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}